.google-drive {
    padding: 20px;
  }
  
  .folders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  

  .user-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
.google-drive{
  background-color: #282c34;
  height: 100vh;
}