.App {
  text-align: center;
}

.About-logo { 
  width: 150px; 
  display: block; 
  text-indent: -9999px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.online {
  background-color: #4CAF50; /* Green for online */
}

.offline {
  background-color: #f44336; /* Red for offline */
}


.offline-text {
  color: #f44336; /* Red color indicating offline status */
}

.status-row {
  display: flex;
  align-items: center;  /* Align items vertically */
  justify-content: space-between;  /* Space between label and value */
  margin-bottom: 8px;  /* Margin for spacing between rows */
}

.bold-text {
  font-weight: bold;
  margin-right: 15px;  /* Space between label and value */
}

.status-indicator {
  padding: 1px 5px;
  color: white;
  border-radius: 10px;
  display: inline-block;
}

.video-stream {
  width: 100%;  /* Default to full width */
  height: auto;  /* Maintain the aspect ratio */
}

@media (min-width:900px) { /* When the viewport width is 800px or more */
  .video-stream {
    width: 70%;  /* Set width to 60% */
  }
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
}

.site-title {
  display: flex;
  align-items: center;
}

.site-title img {
  height: 40px;
  margin-right: 10px;
}

li {
  margin-left: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}
