.App-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center !important;
}
