.this-device-details {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: start;
  height: fit-content;
  margin: 0px;

  .back-button{
    display: flex;
    height: fit-content;
    background: none;
    padding: 5px;
    font-size: 30px;
    margin-bottom: 0;
  }

  .reset-button{
      padding: 5px 10px;
      font-size: 18px;
      background-color: #ff6a00;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .create-button{
      padding: 5px 20px;
      font-size: 18px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  .back-button:hover {
    color: #429dff;
  }

  .create-button:hover {
    background-color: #0056b3;
  }
  .reset-button:hover {
    background-color: #af4900;
  }
}

.device-name {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
}

/* Page Title */
h1 {
  text-align: center;
  color: #8d99ae;
  margin-bottom: 20px;
}

.device-item:hover {
  transform: scale(1.05);
}

.device-item h2 {
  font-size: 18px;
  color: #edf2f4;
  margin-bottom: 10px;
}

.device-item p {
  margin: 5px 0;
  font-size: 14px;
}

/* View TimeLapse Cases Button */
.device-item button {
  background-color: #ef233c;
  color: #edf2f4;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.device-item button:hover {
  background-color: #d90429;
}

/* TimeLapse List Container */
.timelapse-list {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
  padding: 20px;
  background-color: #4a4e69;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 10px;

  h2 {
    color: #edf2f4;
    margin-bottom: 15px;
    text-align: center;
  }
}

/* Individual TimeLapse Item */
.timelapse-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #edf2f4;
  color: #2b2d42;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  gap: 10px;

  p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.6;
  }
}

/* Loading Spinner */
.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #ef233c;
}

.timelapse-item-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: #4a4e69;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 5px;

  h3 {
    padding: 0%;
    margin: 0%;
    font-size: 15px;
    font-weight: 900;
    color: #ef233c;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }
    
  .Details-button {
    /* background-color: #007bff; */
    color: rgb(99, 93, 93);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
  }

  .Details-button:hover {
    background-color: #c1d7ef;
    padding-bottom: 5px;
  }
}

.timelapse-item-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-status {
  font-size: 20px;
  padding: 5px;

  .freeStatus {
    color: #4CAF50;
  }

  .freeStatus:hover {
    cursor: pointer;
  }

  .freeStatus:hover .device-status {
    visibility: visible;
  }

  .busyStatus {
    color: orange;
  }

  .busyStatus:hover {
    cursor: pointer;
  }

  .busyStatus:hover .device-status {
    visibility: visible;
  }

  .unavailableStatus {
    color: #f44336;
  }

  .unavailableStatus:hover {
    cursor: pointer;
  }

  .unavailableStatus:hover .device-status {
    visibility: visible;
  }
}

.device-status{
  visibility: hidden;
  font-size: 13px;
  width: auto;
  margin: 10px;
  margin-left: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;

  /* Position the status information */
  position: absolute;
  z-index: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #3c3e5a;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Display filter container 
  (this is for filter popup only) */
  .filter-container {
    display: flex;
    flex-direction: column;
  }

  .close-filter {
    background: none;
    border-style: none;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
  }

  .close-filter:hover {
    background-color: #4a4e69;
    cursor: pointer;
  }
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #ff7875;
}

.filter-section{
  /* The screen is smallest than 700px*/
  @media only screen and (max-width: 700px) {

    /* Show filter icon */
    .small-screen-filter {
        display: flex;
    }
  }

  /* If the screen is bigger than 700px */
  @media only screen and (min-width: 700px) {
    .small-screen-filter {
        display: none;
    }
  }

  .small-screen-filter {
    flex-direction: column;
    width: 100%;

    /* Visible the filter component within the popup */
    .filter-container {
      display: flex;
    }

    button {
      align-self: flex-end;
      font-size: 25px;
      background-color: rgba(255, 255, 255, 0.938);
      border-radius: 8px;
      border-style: none;
      color: rgb(71, 71, 71);
      padding-top: 5px;
    }
  }

  .small-screen-filter button:hover {
    cursor: pointer;
    background-color: #b1b1b1;
  }
}

