.App-background {
    background-color: #f4f4f4; /* Light grey background */
    padding: 20px;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fullcase-details {
    margin: 15px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .fullcase-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .fullcase-details p {
    margin: 5px 0;
  }
  
  .buttonContainer{
      display: flex;
      flex-direction: row;
      gap: 13px;
  }

  .button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin: 20px 0;
  }
  
  .loading,
  .error {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }
  

.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left; /* Align left for modern look */
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #c6d2da;
  background-color: #1b2c3f;
}

/* General Reset */
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}