.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.About-logo { 
  width: 150px; 
  display: block; 
  text-indent: -9999px;
  }

.App-background {
  background-color: #282c34 !important;
  display: flex;
  height: 100%;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  color: white;
  min-height: 94.94vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  margin-right: 10px;
}

.App-logo{
  height: 20px;
  width: 20px;
}

