.devices{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  gap: 20px;
  padding: 15px;

  .deviceCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    min-width: 200px;
    max-width: fit-content;
    background-color: #646e82;
    opacity: 75%;
    border-radius: 20px;
    text-align: left;
  }
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 30px;
}

/* Set style for online / offline status */
.title .status{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .online {
    margin: 5px;
    font-size: 12px;
    color: #4CAF50;
  }
  
  .offline {
    color: #f44336;
  }
}

/* Set style for job status */
.title .status {
  .freeStatus{
    color: #4CAF50;
    font-size: 25px;
  }

  .busyStatus{
    color: orange;
    font-size: 25px;
  }

  .unavailableStatus{
    color: #f44336;
    font-size: 25px;
  }
}

.temperature {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 15px;
  justify-content: space-between;

  .roomTemp {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .cpuTemp {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.connection {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
  min-width: 100%;

  .connectionTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
}