/* Input and select styling */
.settings input[type="text"],
.settings select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Grouping buttons together */
.button-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* Style the buttons used for download/upload */
.button-group button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 10px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: center;
}

/* Hover state for buttons */
.button-group button:hover {
  background-color: #0056b3;
}

.button-group button:disabled {
  background-color: #767676;
}

.back-button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }

  .back-button:disabled {
  background-color: #767676;
}

  .duration-info {
    color: #04e004;
    font-size: 0.9rem;
  }

  .IVC{
    display: flex;
    flex-direction: column;
    align-items: center;
  }